{{ define "blacklist" }}
{{/* Created on 13. 04. 2026 */}}
{{/* Time-stamp: <2026-04-13 15:55:09 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <div>
      <form>
        <label for="pattern">Add Blacklist pattern</label>
        <input type="text" name="pattern" id="bl_pattern" />
        <button class="btn btn-success btn-sm">
          Add
        </button>
      </form>
    </div>

    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>&num; Hits</th>
            <th>Pattern</th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          {{ range .Patterns }}
          <tr>
            <td>{{ .HitCnt }}</td>
            <td class="bl_pat">{{ .Pattern }}</td>
            <td>
              <button class="btn btn-danger">
                Delete
              </button>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
