{{ define "bookmarks" }}
{{/* Created on 04. 05. 2026 */}}
{{/* Time-stamp: <2026-05-05 11:31:18 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <hr />

    <div class="body">
      <table class="table table-primary-sm table-striped">
        <thead>
          <tr>
            <th>Item</th>
            <th>Deadline</th>
            <th>Comment</th>
            <th>Finished?</th>
          </tr>
        </thead>

        <tbody>
          {{ $items := .Items }}
          {{ range .Bookmarks }}
          {{ $item := index $items .ItemID }}
          <tr>
            <td>
              <a href="{{ $item.URL }}">
                {{ $item.Title }}
              </a>
            </td>
            <td>
              {{- if not .Deadline.IsZero }}
              {{ fmt_time_minute .Deadline }}
              {{ end -}}
            </td>
            <td>
              {{ .Comment }}
            </td>
            <td>
              {{- if .Finished }}
              {{ fmt_time_minute .FinishedWhen }}
              {{ else }}
              <button
                id="bm_del_{{ .ID }}"
                type="button"
                class="btn btn-outline-success btn-sm"
                onclick="bookmark_finish({{ .ID }});">
                Finished?
              </button>
              {{ end -}}
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
