{{ define "histogram" }}
{{/* Created on 05. 05. 2026 */}}
{{/* Time-stamp: <2026-05-19 11:33:39 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <hr />

    <h2>{{ fmt_date .Period.Begin }} to {{ fmt_date .Period.End }}</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Word</th>
          <th>#</th>
      </tr>
      </thead>

      <tbody>
        {{ $tags := .Tags }}
        {{ range $idx, $word := .Words }}
        <tr>
          <td>{{ iinc $idx }}</td>
          <td>
            {{ $cnt := $word.Count }}
            {{ $tag := index $tags $word.Word }}
            {{ with $tag }}
            <a href="/tag/{{ $tag.ID }}">{{ $word.Word }}</a>
            {{ else }}
            {{ $word.Word }}
            {{ end }}
          </td>
          <td>{{ fmt_float $cnt }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
