{{ define "histogram" }}
{{/* Created on 05. 05. 2026 */}}
{{/* Time-stamp: <2026-05-08 12:55:30 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <hr />

    <h2>{{ fmt_date .Period.Begin }} to {{ fmt_date .Period.End }}</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Word</th>
          <th>#</th>
      </tr>
      </thead>

      <tbody>
        {{ $tags := .Tags }}
        {{ range .Words }}
        <tr>
          <td>
            {{ $word := .Word }}
            {{ $cnt := .Count }}
            {{ $tag := index $tags .Word }}
            {{ with $tag }}
            <a href="/tag/{{ $tag.ID }}">{{ $word }}</a>
            {{ else }}
            {{ $word }}
            {{ end }}
          </td>
          <td>{{ fmt_float $cnt }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
