{{ define "main" }}
{{/* Created on 10. 06. 2024 */}}
{{/* Time-stamp: <2026-03-12 16:27:32 krylon> */}}
<!DOCTYPE html>
<html>
    {{ template "head" . }}

    <body>
        {{ template "intro" . }}

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Last Refresh</th>
                        <th>Paused?</th>
                    </tr>
                </thead>

                <tbody>
                    {{ range .Feeds }}
                    <tr>
                        <td>{{ .ID }}</td>
                        <td>{{ .Name }}</td>
                        <td>{{ fmt_time .LastRefresh }}</td>
                        <td>{{ if .Paused }}Yes{{ else }}No{{ end }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>

        {{ template "footer" . }}
    </body>
</html>
{{ end }}
