{{ define "main" }}
{{/* Created on 10. 06. 2024 */}}
{{/* Time-stamp: <2026-03-12 14:21:29 krylon> */}}
<!DOCTYPE html>
<html>
    {{ template "head" . }}
    
    <body>
        {{ template "intro" . }}

        <div>
            Nothing to see here, move along!
        </div>

        {{ template "footer" . }}
    </body>
</html>
{{ end }}
