{{ define "menu" }}
{{/* Time-stamp: <2026-04-30 12:50:14 krylon> */}}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #D4D4D4">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/main">Start</a>
        </li>

        <li class="nav-item" >
          <a class="nav-link" href="/news/0/100">Recent</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/feed/all">
            Subscriptions
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/tag/all">
            Tags
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/blacklist">
            Blacklist
          </a>
        </li>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle"
            href="#"
            id="subscribemenulink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Subscribe
          </a>
          <ul class="dropdown-menu" aria-labelledby="subscribemenulink">
            <li class="dropdown-item" id="sub_form_item">
              <form id="subscribeForm">
                <table>
                  <tr>
                    <th>Name</th>
                    <td>
                      <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Name"
                        required />
                    </td>
                  </tr>
                  <tr>
                    <th>URL</th>
                    <td>
                      <input
                        type="url"
                        name="url"
                        id="url"
                        placeholder="https://www.example.com/rss"
                        required />
                    </td>
                  </tr>
                  <tr>
                    <th>Homepage</th>
                    <td>
                      <input
                        type="url"
                        name="homepage"
                        id="homepage"
                        placeholder="https://www.example.com/"
                        required />
                    </td>
                  </tr>
                  <tr>
                    <th>Language</th>
                    <td>
                      <select id="lang">
                        <option value="en">English</option>
                        <option value="de">German</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th>Interval<br />(in seconds)</th>
                    <td>
                      <input type="number" name="interval" id="interval" value="900" min="60" max="604800" />
                    </td>
                  </tr>
                  <tr>
                    <th><input type="button" onclick="sub_form_clear();" value="Reset" /></th>
                    <td><input type="button" onclick="sub_form_submit();" value="OK" /></td>
                  </tr>
                </table>
              </form>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link"  href="/retrain_classifier">Retrain Classifier</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>

        <li class="nav-item">
          <div class="form-check form-switch">
            <input
              id="refresh-switch"
              class="form-check-input"
              type="checkbox"
              role="switch"
              onchange="toggle_refresh();"
              {{ if .DoRefresh }}checked{{ end -}}>
            <label for="refresh-switch" class="form-check-label">
              Suspend Refresh
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{ end }}
