{{ define "news" }}
{{/* Created on 10. 06. 2024 */}}
{{/* Time-stamp: <2026-03-31 14:55:14 krylon> */}}
<!DOCTYPE html>
<html>
    {{ template "head" . }}

    <body>
        {{ template "intro" . }}

        <div class="paginate">
            {{ if not .FirstPage }}<a href="/news/{{ dec .PageNo }}/{{ .Count }}">{{ end }}
            &lt;&lt;
            {{ if not .FirstPage }}</a>{{ end }}
            {{ inc .PageNo }} / {{ .MaxPage }}
            {{ if not .LastPage }}<a href="/news/{{ inc .PageNo }}/{{ .Count }}">{{ end }}
            &gt;&gt;
            {{ if not .LastPage }}</a>{{ end }}
        </div>

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Feed</th>
                        <th>Time</th>
                        <th>Headline</th>
                        <th>Rating</th>
                        <th>Tags</th>
                        <th>Details</th>
                    </tr>
                </thead>

                <tbody>
                    {{ template "items" . }}
                </tbody>
            </table>
        </div>

        {{ template "footer" . }}
    </body>
</html>
{{ end }}
