{{ define "related_items" }}
{{/* Created on 12. 03. 2026 */}}
{{/* Time-stamp: <2026-07-03 12:21:14 krylon> */}}
{{ $feeds := .Feeds }}
{{ $tags := .Tags }}
{{ $tagMap := .TagMap }}
{{ $itemTags := .ItemTags }}
{{/* {{ $advice := .TagAdvice }} */}}
{{ $bookmarks := .Bookmarks }}
{{ $hideBoring := .HideBoring }}

{{ range .Items.Related }}
{{ $item := .Item }}
<tr id="item_row_{{ $item.ID }}"
  class="item{{ if $item.IsBoring }} boring{{ end }}"
  {{ if (and $hideBoring $item.IsBoring) }}hidden{{ end -}}>
  <td>
    <div>
      {{ fmt_time_minute $item.Timestamp }}
    </div>
    <div id="bm_box_{{ $item.ID }}">
    {{ if notnil (index $bookmarks $item.ID) }}
    <button
      id="bm_add_{{ $item.ID }}"
      type="button"
      class="btn btn-outline-secondary btn-sm"
      onclick="bookmark_add({{ $item.ID }});">
      Later?
    </button>
    {{ else }}
    <button
      id="bm_del_{{ $item.ID }}"
      type="button"
      class="btn btn-outline-success btn-sm"
      onclick="bookmark_finish({{ $item.ID }});">
      Finished?
    </button>
    {{ end }}
    </div>
  </td>
  <td>
    <a href="/feed/{{ $item.FeedID }}">
      {{ $feed := index $feeds $item.FeedID }}
      {{ with $feed }}
      {{ .Name }}
      {{ else }}
      ???
      {{ end }}
    </a>
  </td>
  <td>
    <a href="{{ $item.URL }}" target="_blank">
      {{ $item.Title }}
    </a>
  </td>
  <td id="item_rating_{{ $item.ID }}"> {{/* Rating */}}
    {{ if (not $item.IsRated) }}
    <small><i>({{ $item.EffectiveRating }})</i></small><br />
    <button type="button"
      class="btn btn-primary btn-sm"
      onclick="rate_item({{ $item.ID }}, 2);">
      Interesting
    </button>
    <button type="button"
      class="btn btn-secondary btn-sm"
      onclick="rate_item({{ $item.ID }}, 1);">
      Boring
    </button>
    {{ else if $item.IsBoring }}
    <img src="/static/face-tired.png" onclick="unrate_item({{ $item.ID }});" />
    {{ else }}
    <img src="/static/face-glasses.png" onclick="unrate_item({{ $item.ID }});" />
    {{ end }}
  </td>
  <td>
    {{ fmt_float .Similarity }}
  </td>
  <td>
    <button class="btn btn-primary btn-sm"
      data-bs-toggle="collapse"
      href="#collapse_item_{{ $item.ID }}"
      aria-expanded="false"
      aria-controls="#collapse_item_{{ $item.ID }}">
      Description
    </button>
    <div class="news-body collapse" id="collapse_item_{{ $item.ID }}">
      {{ $item.Body }}
    </div>
  </td>
</tr>
{{ end }}
{{ end }}
