{{ define "search" }}
{{/* Created on 18. 04. 2026 */}}
{{/* Time-stamp: <2026-05-16 14:54:13 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <div>
      <script>
       $(document).ready(() => {
               {{ range .Messages }}
               msg_add('{{ . }}')
               {{ end }}
       })
      </script>
      <!--
           Note to self: My first goal is to produce a form that has all the
           features I want and that works.

           "Fancy" stuff, like hiding unused parts of the form, come later.
           (... yeah, right)
      -->
      <table>
        <tr>
          <td>
            <input type="checkbox" name="date_p" id="date_p" />
            <label for="date_p">Filter by time?</label>
          </td>
          <td>
            <label for="date_begin">From:</label>
            <input type="date" name="date_begin" id="date_begin" />
          </td>
          <td>
            <label for="date_end">To:</label>
            <input type="date" name="date_end" id="date_end" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="tag_p">Filter by tags?</label>
            <input type="checkbox" name="tag_p" id="tag_p" />
          </td>
          <td>
            <script>
             const tags = {
                     {{ range .Tags }}
                     {{ .ID }}: '{{ .Name }}',
                     {{ end }}
             }
            </script>
            <select id="search_tag_menu">
              <option value="0">--</option>
              {{ range .Tags }}
              <option value="{{ .ID }}">
                {{ nbsp (twice .Level) }}{{ .Name }}
              </option>
              {{ end }}
            </select>
            <button
              type="button"
              class="btn btn-success btn-sm"
              onclick="add_tag_to_search_bin();">
              Add
            </button>
          </td>
          <td id="tag_bin">
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <input
              id="search"
              type="search"
              name="query"
              autocomplete="off" />
        </tr>
        <tr>
          <td colspan="3">
            <button
              type="button"
              class="btn btn-sm btn-danger"
              onlick="search_reset();">
              Reset
            </button>
            <button
              type=" button"
              class="btn btn-sm btn-success"
              onclick="search_do();">
              Search
            </button>
          </td>
        </tr>
      </table>
    </div>

    <hr />

    <div id="result_bin">
      <!-- <script>
           $(document).ready(() => { scale_images() })
           </script> -->
      <table
        id="search_result_table"
        class="table table-striped"
        hidden="true">
        <thead>
          <tr>
            <th>Feed</th>
            <th>Time</th>
            <th>Headline</th>
            <th>Rating</th>
            <th>Tags</th>
            <th>Details</th>
          </tr>
        </thead>

        <tbody class="items" id="search_result_tbody">

        </tbody>
      </table>
    </div>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
