{{ define "tag_form" }}
{{/* Created on 07. 04. 2026 */}}
{{/* Time-stamp: <2026-04-07 15:07:25 krylon> */}}
<form>
  <script>
   function tag_form_reset() {
           const name = $("#tag_name")[0]
           name.value = ""

           const parent = $("#tag_parent")[0]
           parent.value = "" // ???

           const id = $("#tag_id")[0]
           id.value = ""
   } // function tag_form_reset()

   function tag_form_submit() {
           const name = $("#tag_name")[0].value
           const parent = $("#tag_parent")[0].value
           const id = $("#tag_id")[0].value
           const url = `/ajax/tag/submit`

           const req = $.post(
                   url,
                   {
                           "name": name,
                           "parent": parent,
                           "id": id,
                   },
                   (res) => {
                           if (res.status) {
                                   $("#tag_details")[0].innerHTML = res.payload.content
                                   const tag = JSON.parse(res.payload.tag)
                                   const cnt = parseInt(res.payload.cnt)
                                   //render_tag_row(tag, cnt)
                                   // reset_form()
                                   load_tag_table()
                                   $.get("/ajax/tag/form",
                                         {},
                                         (r) => {
                                                 if (r) {
                                                         $('#tag_details')[0].innerHTML = r.payload.form
                                                 } else {
                                                         console.log(r.message)
                                                         alert(r.message)
                                                 }
                                         },
                                         'json')
                           } else {
                                   const msg = `Error updating/creating tag: ${res.message}`
                                   console.log(msg)
                                   alert(msg)
                           }
                   },
                   'json'
           )
   } // function tag_form_submit()

   function tag_row_render(tag, cnt) {
           const row = `<td>${tag.id}</td>
       <td>
           <h4 onclick="load_tag_details(${tag.id});">${tag.name}</h4>
       </td>
       <td>${cnt}</td>
       <td>&nbsp;</td>`
           const rowid = `#tag_details_${tag.id}`
           const tr = $(rowid)[0]

           if (defined(tr)) {
                   tr.innerHTML = `<tr id="tag_details_${tag.id}">` + row + "</tr>"
           } else {
                   const view = $('#tag_view')[0]
                   view.innerHTML += row
           }
   } // function tag_row_render(tag, cnt)
  </script>
  <fieldset>
    <legend>Add / Edit Tag</legend>
    <table class="horizontal">
      <input
        type="hidden"
        name="tag_id"
        id="tag_id"
        {{ with .Tag  }}value="{{ .Tag.ID }}"{{ end -}}
      />
      <tr>
        <th>Parent</th>
        <td>
          <select id="tag_parent">
            {{ $tag := .Tag }}
            <option value="0">--</option>
            {{ range .Tags }}
            <option
              value="{{ .ID }}"
              {{- with $tag }}selected{{ end -}}
            >
              {{- nbsp (twice .Level) }}{{ .Name -}}
            </option>
            {{ end }}
          </select>
        </td>
      </tr>
      <tr>
        <th>Name</th>
        <td>
          <input
            id="tag_name"
            name="tag_name"
            type="text"
            required
            placeholder="Name"
            {{ with $tag }}value="{{ $tag.Name }}"{{ end -}}>
        </td>
      </tr>
      <tr>
        <th>
          <input type="button" onclick="tag_form_reset();" value="Reset" />
        </th>
        <td>
          <input type="button" onclick="tag_form_submit();" value="OK" />
        </td>
      </tr>
    </table>
  </fieldset>
</form>

{{ end }}
