{{ define "trend" }}
{{/* Created on 05. 05. 2026 */}}
{{/* Time-stamp: <2026-05-13 12:45:52 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <hr />

    <h2>
      Trend over {{ .ICnt }} periods of {{ .Days }} Days
    </h2>

    <div id="chart">
      <img src="/analysis/chart/{{ .Days }}/{{ .ICnt }}" />
    </div>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
